// ==================
// Headlines
// ==================

.headline {
	&-primary {

		@include m(grouped){
			@extend %hdln-prim;
			margin-bottom: 0;
		}

		@extend %hdln-prim;
		margin-bottom: em(70px, 42px);
		
	}
	&-secondary {

		@include m(grouped){
			@extend %hdln-sec;
			margin-top: em(10px, 24px);
			margin-bottom: em(54px, 24px);
		}

		@extend %hdln-sec;
		margin-bottom: em(22px, 24px);

	}
}