@import 'config', 'helpers', 'utilities', 'reset', 'extends', 'base', 'main', 'nav', 'headlines', 'forms';

header{
	background-color: map-get($ui-colors, default);
	h1{
		color: $white;
	}
	h2{
		color: $black;
	}
}

h1 {
	font-size: 400px;
	@include responsive(wide-screens) {
		font-size: 48px;
	}
	@include responsive(medium-screens) {
		font-size: 32px;
	}
	@include responsive(small-screens) {
		font-size: 20px;
	}
}

li.twitter a {
	@include retinize('icon-twitter', 'png', 24px, 24px);
}